
.wrapper{
    overflow-x: hidden;
}

#topJumbotron{
    padding: 1.5rem 2rem;
}
.lineCharts{
    position: relative;
    margin: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%; 
}

#lineChart1a{
    position: relative;
    width: 48% !important;
    margin: 1%;   
}

#lineChart1b{
    position: relative;
    width: 48% !important;
    margin:  1%; 
}

#sectionHeading{
    padding:1%;
}
.negativeReasons1{
    position: relative;
    /*padding: 5%;*/
    padding-left: 2%;
    padding-right: 2%;
}

.pieChart1a{
    position: relative;
    width: 31.3% !important;
    margin:  1%; 
}

.negativeReasons2{
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%; 
}
.pieChart1b{
    position: relative;
    width: 31.3% !important;
    margin: 1%;
    margin-left: 17.7%;
}
.pieChart1c{
    position: relative;
    width: 31.3% !important;
    margin: 1%;
    margin-right: 17.7%;
}

.threeCategoryAnalysis1{
    padding-left: 2%;
    padding-right: 2%;
}

.btn-group{
    padding-left: 2%; 
}

#dateForm{
    margin-right:2%;
}




/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 42%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}