
.wrapper{
	overflow-x: hidden;
}

#topJumbotron{
	padding: 1.5rem 2rem
}
.lineCharts{
    position: relative;
    margin: 1%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

#lineChart1a{
    position: relative;
    width: 48% !important;
    margin: 1%;   
}

#lineChart1b{
    position: relative;
    width: 48% !important;
    margin:  1%; 
}

#table{
    position: relative;
    width: 96%;
    /*left: 2%;*/
    margin: 2% !important;
    max-height:600px;
    padding: 10px;
    /*max-height: 1000px;*/
}

#sectionHeading{
    padding:1%;
    margin: 2%;
    margin-top: 5%;
}